@model QuizDataLibrary.Answer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="AnswerId" class="control-label"></label>
                <input asp-for="AnswerId" class="form-control" />
                <span asp-validation-for="AnswerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Answers" class="control-label"></label>
                <input asp-for="Answers" class="form-control" />
                <span asp-validation-for="Answers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <input asp-for="QuestionId" class="form-control" />
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
