@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">

        <h3>Create A Quiz</h3>

        <ul>
            <li><a asp-area="" asp-controller="Quiz" asp-action="Index">Create a Quiz Here</a></li>
        </ul>

        <h3>Then make Questions for the Quizzes</h3>

        <ul>
            <li><a asp-area="" asp-controller="Question" asp-action="Index">Makes Questions</a></li>
        </ul>

        <h3>Add Answers to Those Questions</h3>

        <ul>
            <li><a asp-area="" asp-controller="Answer" asp-action="Index">Add Answers</a></li>
        </ul>

    </div>
    
</div>