body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.answer-item {
    font-size: 16px;
}

    .answer-item:hover {
        background-color: #f7f7f7;
        color: grey;
        cursor: pointer;
    }


#question-content {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}

#answer-result-container {
    font-size: 16px;
    font-weight: bold;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.game-btn {
    margin-right: 20px;
}
