@{
    ViewData["Title"] = "Index";
}

<h2>Quiz Game</h2>

<span id="quiz-id" class="hidden"></span>

<div id="quiz-title" class="container"></div>

<div id="question-content" class="well"></div>

<ul id="answers-container" class="list-group"></ul>

<div id="answer-result-contianer" class="container"></div>

<br />

<button id="previous-button" class="btn btn-sm btn-sm game-btn">Previous</button>
<button id="next-button" class="btn btn-sm btn-sm game-btn">Next</button>

<hr />
@Html.ActionLink("Back Home", "Index", "Home")


@section Scripts {
    <script src="~/js/site.js"></script>
}
