@{
    ViewData["Title"] = "Index";
}

<h2>Quiz Game</h2>

<div class="wrapper row clearfix">
    <div class="col-md-6 row clearfix">
        <div>
            <button type="button" id="nextQuestionBtn" class="btn btn-danger" style="margin-left: 2rem">Next Question</button>
        </div>

        <div id="uploadedQuiz" class="questionText">

        </div>

    </div>

    <div id="answer-result" class="col-md-5">

    </div>
</div>

@Html.ActionLink("Back Home", "Index", "Home")


@section Scripts {
    <script src="~/js/site.js"></script>
}
