@{
    ViewData["Title"] = "Index";
}

<h2>Quiz Game</h2>

<span id="quizGameId" class="hidden"> </span>

<div id="question-content" class="well"></div>

<ul id="answers-container" class="list-group"></ul>

<div id="answer-result-contianer" class="container"></div>

@*<div class="row">
        <div class="container">
            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading game-panel-heading">
                        <p id="quizId></p>
                    </div>

                    <div class="panel-body game-panel-body">
                        <h4 id="question-content"></h4>
                        <ul id="answers-container" class="list-group"></ul>
                        <p><span id="tries-holder" class="well well-sm">5</span> Tries Left</p>
                    </div>
                </div>
            <div>

            <span id="quizId-holder" class="hidden">@ViewBag.QuizId</span>
            <button class="btn btn-sm" type="button" id="last-question-button">Last</button>
            <button class="btn btn-sm" type="button" id="next-question-button">Next</button>
        </div>
            </div>
        </div>
    </div>*@

@section Scripts {
    <script src="~/js/site.js"></script>
}
